[Unit]
Description=Gran Turismo 7 JSONL telemetry proxy
Wants=network.target

Requires=data.mount
After=network.target data.mount

[Service]
Type=simple
WorkingDirectory=/opt/granturismo

# Read config directly from the data partition
EnvironmentFile=-/data/etc/instrument-cluster-proxy

# Default fallback
Environment=GT_JSONL_OUTPUT=udp://127.0.0.1:5600

ExecStart=/usr/bin/python3 /opt/granturismo/proxy-wrapper.py --jsonl-output ${GT_JSONL_OUTPUT} --ps-ip ${GT_PS_IP}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target