[Unit]
Description=Create directory structure on Data partition
DefaultDependencies=no
# Wait for the partition to be mounted
Requires=data.mount
After=data.mount
# Run before any service that needs these folders
Before=synthesizer.service sshd.service wpa_supplicant@wlan0.service

[Service]
Type=oneshot
RemainAfterExit=yes

# 1. Create Config Directory (Target for root/.config symlink)
ExecStart=/bin/mkdir -p /data/config

# 2. Create System Directories (Targets for etc/ssh & etc/wpa_supplicant)
ExecStart=/bin/mkdir -p /data/etc/ssh
ExecStart=/bin/mkdir -p /data/etc/wpa_supplicant
ExecStart=/bin/mkdir -p /data/rauc

# 3. Set Permissions (Security)
ExecStart=/bin/chmod 700 /data/etc/ssh
ExecStart=/bin/chmod 755 /data/rauc

[Install]
WantedBy=sysinit.target